<div class="card container shadow">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Shrink Link</h4>
    <%= link_to "Cancel", links_path, class: "btn btn-outline-danger btn-sm" %>
  </div>
  <div class="card-body">
  <br>
  <%= render "form", link: @link %>
  </div>
</div>